*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
/*header and nav*/
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  }

.logo{
  margin-top: 10px;
  width: 90px;
  height: auto;
}
nav ul li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

nav ul li a {
  text-align: inherit;
  color: black;
  text-decoration: none;
  font-weight:lighter;
  border-right-width: medium;
  padding-right: 15px;
  border-right: 2px solid black;
}
.menu a:hover{
  color:#DF7861;
  transition: 0.2s;
}

/* Pic and nav2*/
.about{
  display:flex;
  align-items: center;
justify-content: center;
  width: 90%;
  margin: auto;
  padding-top: 15%;
}

.pic{
  width: 500px;
  height: auto;
}
.text{
  list-style: none;
  padding-left: 30px;
}

p{
  color: #395B64;
  text-height: 20px;
  padding-top: 5px
}
.about h1 {
  padding-top: 5px;
}
.list {
  position: absolute;
  left: 55%;
  top: 100% ;
}

.list a {
  text-decoration: none;
  border: 1px solid black;
  padding: 3.5em;
  border-radius: 50%;
}

.resome{
  background-color: #fab1a0;
  font-weight: bold;
  color: black;
}
.project{
  background-color: #ff7675;
  font-weight: bold;
  color: black;
}
.contact{
  background-color: #ffeaa7;
  font-weight: bold;
  color: black;
}
.list a:hover{
  background-color:#E7F6F2;
}
.info{
display: flex;

}
/* Footer */
.footer{
  margin-top: 20%;
  width: 100%;
  height: 20vh;
  border-top: 1px solid black;
}
.row{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 10px;
}
.container ul{
padding-top:20px;
list-style: none;
}

.container h4{
margin-bottom: 10px;
}

/* Resume and project*/
.main{
  padding-top: 100px
}
.main h1{
  padding-bottom: 80px;
  padding-left: 150px;
}
.main h2{
  padding-top: 30px;
  padding-left:150px;
}
.table{
  display: flex;
  justify-content:flex-end;
  margin-right: 100px;
}

table{
  border-spacing:40px
}
.project-table{
  display: flex;
  justify-content:center;
  margin-right: 100px;

}

.cal{
  width:100%;
  height: auto;
  padding-left: 50px;
}

/*Contact*/
section .Phone{
padding-top: 100px;
padding-left: 120px;
width:50%;
display: inline-block;
vertical-align: top;
}
.Phone h1{
  padding-bottom: 10px;
}
.Phone p{
  color: black;
  padding-bottom: 20px;
}

form{
display:inline-block;
padding-top: 100px;
width: 39%;
vertical-align: top;
}
form div{
  margin-bottom: 20px;

}
/* First Name */
form .fname{
display:inline-block;

}
form .fname label{
width: 100%;

}
form .fname input{
  width: 100%;
  height: 30px;
}

/*Last name*/
form .lname{
display: inline-block;
padding-left:10px;

}
form .lname input{
  width: 100%;
  height: 30px;
}
/*Email and subject*/
form .gmail input{
  width: 100%;
  height: 30px;
}

form .subject input{
  width: 100%;
  height: 30px;
}

button {
  border: 1px solid black;
  width: 100%;
  height: 30px;

}
